
<!DOCTYPE html>
<html>
    <head>
        <title>#Analyse</title>
        
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>       
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="icon" href="data:,">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<style type="text/css">
    
:root{
  --main-bg-color: #121212;
  --dark-bg-color: rgb(0, 0, 0);
  --dark-accent-color: #1A1A1B;
}

.dark-mode{
  background-color: var(--dark-bg-color) !important;
}

.dark-post-banner{
  background-color: var(--dark-accent-color) !important;
}


.main{
  background-color: var(--main-bg-color);
}
    
    .container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

header a{
    text-decoration: none;
}

header{
    background-color: #212121;
}

.search-bar{
  max-width: 346px;
  width: 100%;
}

@media (max-width: 770px) { 
    
    
    .right-nav{
      display: none !important;
    }

    .flex-md-row{
      flex-direction: row!important;
    }
	}

	@media (min-width: 770px) { 
		.right-column{
			display: block;
		}

    .small-settings{
      display: none;
    }
	}



</style>



<header style="height: 64px;"class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 ">
    <a class="h3 my-0  fw-normal" style="padding-right: 15px; color: white;" href="#">Hashtag Analyse</a> 
    

    <nav class="my-2 my-md-0 me-md-3 d-inline ms-auto right-nav">
        <a class="p-2 text-light" href="#">Home</a> 
        <a class="p-2 text-light" href="#">Log in</a>
    </nav>
    
    <div class="small-settings float-end" style="position: absolute; right: 10px;">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
           
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a class="dropdown-item" href="#">Log in</a></li>
            <li><a class="dropdown-item" href="#">Register</a></li>
            
          </ul>
        </div>
      </div>

</header>


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



    </head>
    
    
    <body>
        <!-- Body -->
        <style type="text/css">
        .main{
            min-height: 100vh;
            height: 100%;
        }
        </style>
        	
        <div class="main" id="main">
            
<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #ffff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}

  .test-button{
    background-color:lightblue;
    width: 60px;
    border: none;
  }

  .axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}  

#settingsBtn{
  
  margin-left: 60px;
}

#settingsBtn:hover{
  color:#69b3a2;
}


</style>

<div id="particles-js" style="height: 80vh;"></div>
    <script src="javascript/particles.js"></script>
    <script src="javascript/app.js"></script>

<div>
	<div class="text-center" style="position: absolute; left: 50%; top: 40%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);"> 
		<div class="text">
      <h1 style="font-size:48px; display: inline;" class="text-light" id="headerTitle">Which words are often used with this hashtag <p style="font-size:48px; cursor: pointer;display: inline;" class="text-light" onclick="startDisco()">?</p></h1>
		
    </div>
    <h3 class="text-light">Select a Hashtag</h3>
        <form style="width: 100%;">
            <div class="col-auto d-flex justify-content-center">
                    <!--<input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Your Hashtag (#Blm, #Tbt, ...)">-->
                    <input type="radio" class="btn-check" onclick="getData('blm')" name="options" id="option1" autocomplete="off">
                    <label class="btn btn-secondary m-1" for="option1">Blm</label>

                    <input type="radio" class="btn-check" onclick="getData('tbt')" name="options" id="option2" autocomplete="off">
                    <label class="btn btn-secondary m-1" for="option2">Tbt</label>

                    <input type="radio" class="btn-check" onclick="getData('trump')" name="options" id="option3" autocomplete="off">
                    <label class="btn btn-secondary m-1" for="option3">Trump</label>

                    <input type="radio" class="btn-check" onclick="getData('Canada')" name="options" id="option4" autocomplete="off">
                    <label class="btn btn-secondary m-1" for="option4">Canada</label>
                
            </div>


    </form>
        
	</div>
</div>
<div>
    <div class="text-light text-center mt-3">
        <!--#[[${hashtag}]]-->
        <form style="width: 100%;">
          <div class="col-auto d-flex justify-content-center">
                  <!--<input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Your Hashtag (#Blm, #Tbt, ...)">-->
                  <input type="radio" class="btn-check" onclick="getData('blm')" name="options" id="option1" autocomplete="off">
                  <label class="btn btn-secondary m-1" for="option1">Blm</label>

                  <input type="radio" class="btn-check" onclick="getData('tbt')" name="options" id="option2" autocomplete="off">
                  <label class="btn btn-secondary m-1" for="option2">Tbt</label>

                  <input type="radio" class="btn-check" onclick="getData('trump')" name="options" id="option3" autocomplete="off">
                  <label class="btn btn-secondary m-1" for="option3">Trump</label>

                  <input type="radio" class="btn-check" onclick="getData('Canada')" name="options" id="option4" autocomplete="off">
                  <label class="btn btn-secondary m-1" for="option4">Canada</label>
              

                  <i class="bi bi-gear-fill" id="settingsBtn" onclick="showSettings()"></i>
                  <div style="position: relative">

                  <div id="settingsDiv" class="d-none"style="position: absolute; right: -150px; top: 25px; background-color: #212529;">
                    <div class="row" style="width: 240px; background-color: #212529;">
                      

                      <small style="font-size: 12px; text-align: left;">Settings:</small>
                    
                      <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input col-sm-2" type="checkbox" id="gridCheck1" onclick="settingsCheckbox('my_dataviz')" checked>
                            <label class="form-check-label" for="gridCheck1">
                              Wordcloud
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input col-sm-2" type="checkbox" id="gridCheck2" onclick="settingsCheckbox('my_barchart')" checked>
                            <label class="form-check-label" for="gridCheck1">
                              Bar Chart
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input col-sm-2" type="checkbox" id="gridCheck3" onclick="settingsCheckbox('my_piechart')" checked>
                            <label class="form-check-label" for="gridCheck1">
                              Pie Chart
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input col-sm-2" type="checkbox" id="gridCheck3" onclick="settingsCheckbox('table')" checked>
                            <label class="form-check-label" for="gridCheck1">
                              Table
                            </label>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                    
                </div>
                
                  </div>


          </div>


  </form>
</div>

    
    <div>
      <div class="d-flex justify-content-center">
          
        <!-- Create a div where the graph will take place -->
        <div id="my_dataviz"></div>

        <div class="row">
          
         <div id="my_barchart"></div>
        
        </div>


        <div class="row">
          <div id="my_piechart"></div>
        </div>

      </div>  
    </div>


    <div class="d-flex justify-content-center">
        
        <div style="width: 60%;">
            <table class="table table-dark" id="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Word</th>
                    <th scope="col">Percentage</th>
                </tr>
                </thead>
                <tbody  id="basecamp">
                <tr th:each="data, iStat: ${words}">
                    <th th:text="${iStat.count}">1</th>
                    <td class="data-words" th:text="${data.wo}"></td>
                    <td class="data-percentage" th:inline="text"> [[${data.percentage}]]%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

        
    


</div>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>



<script>
function wordCloud()
{
  

  try{
    var old = document.getElementById('my_dataviz').children;
    console.log(old)
    for(var i = 0; i < old.length; i++)
    {
      old[i].remove()
    }
}catch(e)
{
  console.log(e); 
}



var w = document.getElementsByClassName('data-words');
var per = document.getElementsByClassName('data-percentage');
var arr = Array.prototype.slice.call( w, 0 );
var index;
var words = [];
var values = [];
for (index = 0; index < w.length; ++index) {
    words.push(w[index].innerHTML);
    values.push(parseFloat(per[index].innerHTML.split("%")[0]))
}



var maxValue = Math.max.apply(Math, values);
var fontSizeMultiply = 100/maxValue;


// List of words
var myWords = ["Hello", "Everybody", "How", "Are", "You", "Today", "It", "Is", "A", "Lovely", "Day", "I", "Love", "Coding", "In", "My", "Van", "Mate"]


var myWords = words;

// set the dimensions and margins of the graph
var margin = {top: 10, right: 10, bottom: 10, left: 10},
    width = 450 - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
var layout = d3.layout.cloud()
  .size([width, height])
  .words(myWords.map(function(d) {
      return {text: d, size: 10 + Math.random() * 90};
    }))
    .padding(5)
    .font("Impact")
    .fontSize(function(d) { return Math.max(per[words.indexOf(d.text)].innerHTML.split("%")[0]*fontSizeMultiply,10); })
    .on("end", draw);
layout.start();


// This function takes the output of 'layout' above and draw the words
// Better not to touch it. To change parameters, play with the 'layout' variable above
function draw(words) {
  svg
    .append("g")
      .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("fill", "#69b3a2")
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
}
}
</script>

<script>

  // create 2 data_set
  var data1 = [
     {group: "A", value: 4},
     {group: "B", value: 16},
     {group: "C", value: 8}
  ];
  
  var data2 = [
     {group: "A", value: 7},
     {group: "D", value: 1},
     {group: "C", value: 20}
  ];
  
  // set the dimensions and margins of the graph
  var margin = {top: 30, right: 30, bottom: 70, left: 60},
      width = 460 - margin.left - margin.right,
      height = 400 - margin.top - margin.bottom;
  
  // append the svg object to the body of the page
  var svg = d3.select("#my_barchart")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  
  // X axis
  var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(data1.map(function(d) { return d.group; }))
    
    .padding(0.2);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .attr("class", "axisWhite")
    
    
    .attr("id", "xAxis")
    .attr("fill", "#69b3a2")
    .call(d3.axisBottom(x))
  
  // Add Y axis
  var y = d3.scaleLinear()
    .domain([0, 100])
    .range([ height, 0]);
  svg.append("g")
    .attr("class", "myYaxis")
    .attr("class", "axisWhite")
    .call(d3.axisLeft(y));
  
  // A function that create / update the plot for a given variable:
  function update(data) {
  
    var u = svg.selectAll("rect").data(data);
    document.getElementById("xAxis").remove();
    x = d3.scaleBand()
    .range([ 0, width ])
    .domain(data.map(function(d) { return d.group; }))
    
    .padding(0.2);
    svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .attr("class", "axisWhite")
    .attr("id", "xAxis")
    .attr("fill", "#69b3a2")
    .call(d3.axisBottom(x))

    u
      .enter()
      .append("rect")
      .merge(u)
      .transition()
      .duration(1000)
        .attr("x", function(d) { return  x(d.group); })
        .attr("y", function(d) { return y(d.value); })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return height - y(d.value); })
        .attr("fill", "#69b3a2")

    
  
  }

  
  </script>


<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script>

  // set the dimensions and margins of the graph
  var piewidth = 450
      pieheight = 400
      piemargin = 40
  
  // The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
  var radius = Math.min(piewidth, pieheight) / 2 - piemargin
  
  // append the svg object to the div called 'my_dataviz'
  var svg2 = d3.select("#my_piechart")
    .append("svg")
      .attr("width", piewidth)
      .attr("height", pieheight)
      .attr("class", "area")
    .append("g")
      .attr("transform", "translate(" + piewidth / 2 + "," + pieheight / 2 + ")");
  
  // create 2 data_set
  var data1 = {a: 1.8565, b: 2.15}
  var data2 = {a: 6, b: 16}
  
  // set the color scale
  var color = d3.scaleOrdinal()
    .domain(["a", "b"])
    .range(d3.schemeDark2);
  
  // A function that create / update the plot for a given variable:
  function updatePie(data) {
  
    //var data = {a: datainput, b: 4-datainput}
    // Compute the position of each group on the pie:
    
    var pie = d3.pie()
      .value(function(d) {return d.value; })
      .sort(function(a, b) {return d3.ascending(a.key, b.key);} ) // This make sure that group order remains the same in the pie chart
    var data_ready = pie(d3.entries(data))
  
    // map to data
    var u = svg2.selectAll("path.area")
      .data(data_ready)
  
    // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
    u
      .enter()
      .append('path')
      .merge(u)
      .transition()
      .duration(1000)
      .attr('d', d3.arc()
        .innerRadius(0)
        .outerRadius(radius)
      )
      .attr('fill', function(d){ if(d.data.key == "a"){ return "#69b3a2"}else{return "#2F4858"}; })
      .attr("stroke", "white")
      .style("stroke-width", "2px")
      .style("opacity", 1)
  
    // remove the group that is not present anymore
    u
      .exit()
      .remove()

    
  
  }
  
  updatePie(data1)
  // Initialize the plot with the first dataset
  
  </script>

  
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" style="margin-top: 175px; height: 100vh;">

    <h1 class="text-center text-light" style="font-size: 65px;">Info</h1>
    <p class="text-light">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.   

Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.   

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.   

At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.   

Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    </p>
  </div><!-- /.container -->


<script>
	var currentLocation = window.location;
	//document.getElementById("createBtn").href =  currentLocation.href+"create/";
  var analyze = require('Sentimental').analyze;
</script>


        </div>
        
        <!-- End Body -->
        <style type="text/css">
            .footer{
                min-height: 100px;
            }
            </style>
            
            <!--Footer-->
            
            <div class="d-flex flex-row align-items-center footer m-auto">
                <p class="m-auto">Hashtag Analyse | Projekt base.camp Universität Hamburg</p>
            </div>
            <!--Footer-->
            
                    
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
            
            <script>
                $(".dropdown-menu li a").click(function(){
                $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                unban();
                document.getElementById('my_dataviz').innerHTML = "";
                //document.getElementById('my_dataviz').remove();
                console.log(document.getElementById("basecamp").children);
                
                });

                $("#search-btn").click(function(){
                  country = document.getElementById('inputPassword6').value
                  window.location = window.location.pathname + "?hashtag="+country
                });
                
                var message = '[[${hashtag}]]';
                

                
                if(!(message == 'User'))
                {
                  document.getElementById("inputPassword6").value = message
                }

                var _csrf_token = /*[[${_csrf.token}]]*/ '';
                var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
               
                

                function getData(data){
                  var requestData = {
                  "hashtag": data
                };

                requestData[_csrf_param_name] = _csrf_token;
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/users",
                    dataType: 'json',
                    data : requestData,
                    success: function(response)
                    {

                        console.log('succes', response)
                        changeTable(response)
                    },
                    error: function(response){
                        console.log('error', response)
                    }
                    
                })

                }

                function changeTable(array)
                {
                 
                  
                  var newdata = [];
                  var children = document.getElementById("basecamp").children;
                  for(i = 0; i < children.length && i < Object.keys(array['words']).length; i++)
                  {
                    children[i].children[1].innerHTML = array.words[i].word;
                    children[i].children[2].innerHTML = array.words[i].percentage +"%";
                    group = array.words[i].word;
                    value = array.words[i].percentage;

                    newdata[i] = {group, value};
                  }
                  
                  update(newdata);
                  //updatePie(array['sentiment']);
                  wordCloud();
                  
                  console.log(Math.round((4 - array['sentiment']) * 100) / 100)
                  piedata = {a: Math.round((array['sentiment']) * 100) / 100, b: Math.round((4 - array['sentiment']) * 100) / 100}
                  updatePie(piedata);
                    
                 

                }


                function showSettings()
                {
                  document.getElementById("settingsDiv").classList.toggle("d-none")
                }

                function settingsCheckbox(id)
                {
                  document.getElementById(id).classList.toggle("d-none")
                }
                
                function getRandomColor() {
                  var letters = '0123456789ABCDEF';
                  var color = '#';
                  for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                  }
                  return color;
                }


                var disco = false;

                function startDisco()
                {
                  disco = !disco;
                }

                const interval = setInterval(function() {
                  if(disco)
                  {
                    document.getElementById("main").style.backgroundColor = getRandomColor();
                    
                  }else
                {
                  document.getElementById("main").style.backgroundColor = "#121212";
                }  }, 100);
            </script>
    </body>

</html>
